          <section class="wrapper">
            <h1>Magicbox analisys dashboard system</h1>
        
            <h3><i class="fa fa-angle-right"></i> Ejecuciones de app portal (360º)</h3>
            <!-- page start-->
            <div class="tab-pane" id="chartjs">
              <div class="row mt">
                <div class="col-lg-9">
                  <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Ejecuciones de app (por horas)</h4>
                    <div id="myContainer" class="panel-body text-center"></div>
                  </div>
                </div>
              </div>
              <div class="row mt">
                <div class="col-lg-9">
                  <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Ejecuciones de app (por meses)</h4>
                    <div id="myContainer2" class="panel-body text-center"></div>
                  </div>
                </div>
              </div>

              <div class="row mt">
                <div class="col-lg-9">
                  <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Ejecuciones de app (por años)</h4>
                    <div id="myContainer3" class="panel-body text-center"></div>
                  </div>
                </div>
              </div>
              <div class="row mt">
                <div class="col-lg-9">
                  <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Ejecuciones de app por versiones (histórico)</h4>
                    <div id="myContainer4" class="panel-body text-center"></div>
                  </div>
                </div>
              </div>

              <div class="row mt">
                <div class="col-lg-9">
                  <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Top ten ejecuciones de app (histórico)</h4>
                    <div id="myContainer5" class="panel-body text-center"></div>
                  </div>
                </div>
              </div>              
            </div>                 
          <!-- page end-->
          </section>  